<app-menu></app-menu>

<div class="container-fluid vh-100" 
     style="background-image: url('https://img.freepik.com/vector-premium/analisis-financiero_92926-121.jpg?semt=ais_hybrid'); 
            background-size: cover; 
            background-position: center; 
            display: flex; 
            justify-content: center; 
            align-items: center;">
    <!-- Outer Row -->
    <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card shadow-lg border-0" style="background-color: rgba(255, 255, 255, 0.85);">
            <div class="card-body p-4">
                <!-- Title -->
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <!-- Login Form -->
                <form class="user">
                    <div class="form-group">
                        <input 
                            type="email" 
                            class="form-control form-control-user" 
                            id="exampleInputEmail" 
                            aria-describedby="emailHelp" 
                            placeholder="Enter Email Address..."
                            required>
                    </div>
                    <div class="form-group">
                        <input 
                            type="password" 
                            class="form-control form-control-user" 
                            id="exampleInputPassword" 
                            placeholder="Password"
                            required>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Login
                    </button>
                    <hr>
                    <button type="button" class="btn btn-google btn-user btn-block">
                        <i class="fab fa-google fa-fw"></i> Login with Google
                    </button>
                    <button type="button" class="btn btn-facebook btn-user btn-block">
                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                    </button>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                    <a class="small" href="register.html">Create an Account!</a>
                </div>
            </div>
        </div>
    </div>
</div>