<div class="container-fluid vh-100" 
     style="background-image: url('https://inesdi-cdn.s3.eu-west-3.amazonaws.com/inesdi-prod/2023-06/controller-finanicero-1_0.jpeg'); 
            background-size: cover; 
            background-position: center; 
            display: flex; 
            justify-content: center; 
            align-items: center;">
  <!-- Outer Row -->
  <div class="col-md-8 col-lg-6 col-xl-4">
    <div class="card shadow-lg border-0" style="background-color: rgba(255, 255, 255, 0.85);">
      <div class="card-body p-4">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">Bienvenidos</h1>
        </div>
        <form class="user" (ngSubmit)="onLogin(formLogin)" #formLogin="ngForm">
          <div class="form-group">
            <input 
              type="email" 
              class="form-control form-control-user" 
              id="exampleInputEmail" 
              aria-describedby="emailHelp" 
              placeholder="Correo" 
              name="correo" 
              ngModel
              required>
          </div>
          <div class="form-group">
            <input 
              type="password" 
              class="form-control form-control-user" 
              id="exampleInputPassword" 
              placeholder="Clave" 
              name="clave" 
              ngModel 
              autocomplete="on"
              required>
          </div>
          <button type="submit" class="btn btn-primary btn-user btn-block">
            Iniciar sesión
          </button>
        </form>
        <div class="text-center mt-3">
          <p>¿Aún no tienes cuenta? <a href="/signup">Registrarse</a></p>
        </div>
      </div>
    </div>
  </div>
</div>